{% extends 'base.html' %}
{% block title %}ملفاتي المرفوعة{% endblock %}
{% block content %}

<h2>الملفات التي قمت برفعها:</h2>

{% if uploads %}
    <ul>
        {% for file in uploads %}
            <li>
                <strong>الاسم:</strong> {{ file[0] }} <br>
                <strong>التاريخ:</strong> {{ file[2] }} <br>
                <a href="{{ url_for('uploaded_file', filename=file[0]) }}" target="_blank">عرض / تحميل</a>
				<!--     
				file[0]: ده اسم الملف اللي اتخزن في قاعدة البيانات (اللي المستخدم رفعه).  
				url_for('uploaded_file', filename=file[0]):
				دي دالة بتولد رابط يشير إلى الراوت (route) اللي اسمه uploaded_file، وبتمرر له اسم الملف كـ parameter.
				
				target="_blank": معناها لما المستخدم يضغط على الرابط، يفتح في تبويب جديد بدل ما يخرج من الصفحة الحالية.
				
				
				
				-->
				
                 <form method="POST" action="{{ url_for('delete_file') }}">
                 <input type="hidden" name="filename" value="{{ file[0] }}">
                 <button type="submit" onclick="return confirm('هل أنت متأكد من حذف هذا الملف؟')">🗑️ حذف</button>
                 </form>
<!--    
action="{{ url_for('delete_file') }}"
ده بيربط الفورم بالراوت بتاع حذف الملفات اللي اسمه delete_file.
<input type="hidden" name="filename" value="{{ file[0] }}">

ده input مخفي.
بنبعَت من خلاله اسم الملف اللي عايزين نحذفه (اللي هو file[0]).
ليه مخفي؟ لأن المستخدم مش محتاج يكتبه بإيده.

onclick="return confirm(...)"
دي رسالة تأكيد للمستخدم قبل الحذف. لو ضغط "Cancel" الفورم مش بيتبعت.


-->
 
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>لم تقم برفع أي ملفات حتى الآن.</p>
{% endif %}

<a href="{{ url_for('dashboard') }}">رجوع للوحة التحكم</a>


{% endblock %}
